# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:

- Learn about python libraries
- Practice how to use github
- Create a project in IBM Watson

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Tensorflow
2. Pandas
3. Matplotlib

| Data Science Tools |
| -- |
| Apache Spark |
| Apache Hadoop |
| RStudio |

____

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Niko Muhammad Iskandar